@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import "status-bar.css";
@import "reset.css";
@import "variables.css";

body {
  font-family: "Open Sans", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.welcome {
  text-align: center;
  margin: 70px 0;
}

.welcome__title {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 30px;
}

.welcome__text_1,
.welcome__text_2 {
  font-size: 13px;
  margin: 2px 0;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
}

#login-form input {
  border: none;
}
#login-form input:required {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 5px 0;
  padding: 10px 0;
}
#login-form input[type="password"] {
  margin-bottom: 25px;
}
#login-form input[type="button"],
#login-form input[type="submit"] {
  margin: 5px 0;
  height: 40px;
}
#login-form input[type="button"]:hover,
#login-form input[type="submit"]:hover {
  background-color: #fae100;
  color: #662500;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#login-form a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
}
